<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ddl="http://www.thymeleaf.org/dandelion">

<head th:include="common/head::head" />
<body ddl:bundle-includes="sample-asset-locators">
   <div th:replace="common/navbar::navbar"></div>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h2 class="section-title">Asset locators</h2>
            <p>
            	In this example, a bundle called <i>sample-asset-locators</i> is included. 
            </p>
            <p>
              This bundle references two assets, one coming from the `webapp`, the other from the `classpath`.
            </p>
            <div id="msg"></div>
         </div>
      </div>
   </div>
</body>
</html>